@import "tailwindcss";
@import "./Iosevka.css";

@theme {
  --color-primary: rgb(255 177 197);
  --color-surface-tint: rgb(255 177 197);
  --color-on-primary: rgb(85 29 48);
  --color-primary-container: rgb(112 51 70);
  --color-on-primary-container: rgb(255 217 225);
  --color-secondary: rgb(227 189 197);
  --color-on-secondary: rgb(66 41 48);
  --color-secondary-container: rgb(91 63 70);
  --color-on-secondary-container: rgb(255 217 225);
  --color-tertiary: rgb(238 189 146);
  --color-on-tertiary: rgb(71 42 10);
  --color-tertiary-container: rgb(97 63 31);
  --color-on-tertiary-container: rgb(255 220 192);
  --color-error: rgb(255 180 171);
  --color-on-error: rgb(105 0 5);
  --color-error-container: rgb(147 0 10);
  --color-on-error-container: rgb(255 218 214);
  --color-background: rgb(25 17 19);
  --color-on-background: rgb(239 223 225);
  --color-surface: rgb(25 17 19);
  --color-on-surface: rgb(239 223 225);
  --color-surface-variant: rgb(81 67 70);
  --color-on-surface-variant: rgb(214 194 197);
  --color-outline: rgb(158 140 144);
  --color-outline-variant: rgb(81 67 70);
  --color-shadow: rgb(0 0 0);
  --color-scrim: rgb(0 0 0);
  --color-inverse-surface: rgb(239 223 225);
  --color-inverse-on-surface: rgb(56 46 48);
  --color-inverse-primary: rgb(140 74 93);
  --color-primary-fixed: rgb(255 217 225);
  --color-on-primary-fixed: rgb(58 7 27);
  --color-primary-fixed-dim: rgb(255 177 197);
  --color-on-primary-fixed-variant: rgb(112 51 70);
  --color-secondary-fixed: rgb(255 217 225);
  --color-on-secondary-fixed: rgb(43 21 27);
  --color-secondary-fixed-dim: rgb(227 189 197);
  --color-on-secondary-fixed-variant: rgb(91 63 70);
  --color-tertiary-fixed: rgb(255 220 192);
  --color-on-tertiary-fixed: rgb(45 22 0);
  --color-tertiary-fixed-dim: rgb(238 189 146);
  --color-on-tertiary-fixed-variant: rgb(97 63 31);
  --color-surface-dim: rgb(25 17 19);
  --color-surface-bright: rgb(65 55 57);
  --color-surface-container-lowest: rgb(20 12 14);
  --color-surface-container-low: rgb(34 25 27);
  --color-surface-container: rgb(38 29 31);
  --color-surface-container-high: rgb(49 40 42);
  --color-surface-container-highest: rgb(60 50 52);
}

@layer base {
  body {
    font-family: "Iosevka", monospace;
  }

  a {
    color: var(--color-primary);
    text-decoration: underline;
  }
  a::before {
    content: "[";
  }
  a::after {
    content: "]";
  }

  h1 {
    color: var(--color-on-primary-container);
    background-color: var(--color-primary-container);
    font-weight: bold;
  }
  h1::before {
    content: "# ";
  }

  h2 {
    margin-top: 1.5rem;
    color: var(--color-on-secondary-container);
    background-color: var(--color-secondary-container);
    font-weight: bold;
  }
  h2::before {
    content: "## ";
  }

  ul {
    margin-bottom: 1.5rem;
  }
  li::before {
    content: "- ";
  }

  strong {
    font-weight: bold;
  }
  strong::before {
    content: "**";
  }
  strong::after {
    content: "**";
  }

  em::before {
    content: "*";
  }
  em::after {
    content: "*";
  }

  hr {
    border-color: var(--color-outline);
    margin: 2rem 0;
  }
}
